@media (min-width: 768px){ 
    .navbar-expand-md .navbar-collapse {
        display: inline-flex!important;
        flex-basis: auto;
    }
}

.card a {
    color: black;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.card-img-overlay {
    background-image: linear-gradient(rgba(231,222,242,1) 0%, rgba(231,222,242,0.1) 25%, rgba(0,0,0,0) 100%);
}

.footer{
    background-color: #D1C4E9;
    margin:45px auto 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:50px 70px 50px 70px;
    margin:0px auto;
    margin-bottom: 45px;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}